.issue-frontmatter-content div.table-of-contents ul li div.details span.title a:hover {
  color: #a04617; }

.issue-frontmatter-content div.header {
  border-color: #a04617; }
  .issue-frontmatter-content div.header p.archive {
    border-color: #a04617; }
    .issue-frontmatter-content div.header p.archive a {
      color: #a04617; }

nav.header-navigation {
  border-color: #a04617; }
  nav.header-navigation li a {
    color: #a04617; }
    nav.header-navigation li a:hover {
      color: #8a3c14; }

.article-content p.alternate-voice {
  background-color: #ffeee5; }
.article-content p.alternate-voice a {
  color: #7a3812; }
  .article-content p.alternate-voice a:hover {
    color: #a04617; }
.article-content hr {
  border-color: #a04617; }
  .article-content hr.special {
    background-color: #a04617; }
.article-content blockquote {
  border-color: #a04617; }
.article-content a {
  color: #a04617; }
  .article-content a:hover {
    color: #8a3c14; }
  .article-content a.supernote-icon:hover {
    background-color: #f0b393; }
.article-content table td {
  background-color: #f0b393; }
.article-content div.supernote-container {
  background-color: #ffeee5; }
.article-content div.inline-audio {
  border-color: #a04617; }
  .article-content div.inline-audio a.sm2_button,
  .article-content div.inline-audio a.sm2_button.sm2_paused:hover {
    background-color: #a04617; }
  .article-content div.inline-audio a.sm2_button:hover,
  .article-content div.inline-audio a.sm2_button.sm2_playing,
  .article-content div.inline-audio a.sm2_button.sm2_playing:hover {
    background-color: #7a3812; }
  .article-content div.inline-audio a.sm2_button.sm2_paused,
  .article-content div.inline-audio a.sm2_button.sm2_paused:hover {
    background-color: #8a3c14; }
.article-content .bio-footer {
  border-color: #a04617; }

.issue-footer ul.table-of-contents {
  background-color: #ffeee5;
  background-color: rgba(255, 238, 229, 0.5); }
  .issue-footer ul.table-of-contents li:hover, .issue-footer ul.table-of-contents li.here {
    background-color: #8a3c14;
    background-color: rgba(138, 60, 20, 0.2);
    border-color: #8a3c14;
    border-color: rgba(138, 60, 20, 0.5); }
  .issue-footer ul.table-of-contents a {
    color: #7a3812;
    line-height: 125%;
    text-decoration: none; }
    .issue-footer ul.table-of-contents a:hover {
      color: #a04617; }

header.site-header {
  background-color: #a04617;
  background-image: url(/images/issues/1/2/issue-header.jpg);
  border-color: #a04617; }

footer.site-footer {
  border-color: #a04617; }
  footer.site-footer a {
    color: #a04617; }
    footer.site-footer a:hover {
      color: #8a3c14; }
  footer.site-footer ul.links {
    border-color: #a04617; }

.page-content {
  background-image: url(/images/issues/1/2/issue-footer.jpg);
  background-position: bottom;
  background-repeat: no-repeat; }

#special-thefever-wrapper #sidebar li:hover {
  color: #a04617; }
#special-thefever-wrapper #sidebar li a:hover {
  color: #a04617; }
#special-thefever-wrapper #sidebar #snapback a:hover, #special-thefever-wrapper #sidebar #restart a:hover, #special-thefever-wrapper #sidebar #bookmark a:hover {
  color: #a04617; }
#special-thefever-wrapper .passage a {
  color: #a04617; }
  #special-thefever-wrapper .passage a:hover {
    color: #8a3c14; }
